.dd{
    margin-left:250px;
}
.para
{
   position: absolute;
   top:95px;
   left:300px; 
font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.bordered-content {
    border: 7px solid #A6AFD9;
    /* Border style */
    padding: 20px;
    margin-left: 260px;
    width:960px;
    margin-top:-40px;
    height:580px;
    border-radius: 7px;
    /* Optional: Add padding for better visual appearance */
}

.inner{
    border-bottom: 7px solid #A6AFD9;
    margin-top: 20px;
    width: 948px;
    margin-left:-20px;

}

.tbutton {
    background-color: #3F52B8;
    border: none;
    border-radius: 6px;
    padding: 8px 15px;
    /* Adjust padding as needed */
    display: flex;
    align-items: center;
    color: white;
    margin-left: 750px;
    margin-top: 30px;
    /* Set text color to white */
}

.tbutton span {
    margin-left: 10px;
    /* Adjust spacing between icon and text */
}

.table-container {
    max-height: 350px;
    /* Set maximum height for the scrollable container */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.aicon{
    background-color:#198754;
    color:white;
    border:none;
    width:40px;
    border-radius: 4px;
    margin-right: 8px;

}

.aicond{
    background-color: #DC3545;
    color: white;
    border: none;
    width: 45px;
    border-radius: 4px;
    margin-right: 8px;

}

.division{
    border-left: 5px solid #A6AFD9;
    padding: 20px;
    margin-left: 450px;
     width: 950px;
    height: 526px;
}

.dept{
    position: absolute;
    margin-left: -370px;
    background-color: #3F51B5;
    width:230px;
    height:320px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.deptstudent{
    position: absolute;
    top:158px;
    background-color: #3F51B5;
        width: 230px;
        height: 320px;
        margin-top: 50px;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        left:820px;
}

.dept span {
    
    display: block;
    margin-left: 80px;
    margin-top: 42px;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
    font-family: "Gill Sans",sans-serif;
    /* Add margin between spans */
}

.head{
    color: aliceblue;
        font-size: larger;
        font-weight: bold;
        font-family: "Gill Sans", sans-serif;
    position: absolute;
    margin-top: 11px;
    margin-left: 36px;
    text-decoration: underline;
    
}

.deptstudent span {

    display: block;
    margin-left: 80px;
    margin-top: 42px;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
    font-family: "Gill Sans", sans-serif;
    /* Add margin between spans */
}

.grid{
    margin:100px;
}


.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.tooltip.active {
    visibility: visible;
    opacity: 1;
}

.chart-container {
    display: flex;
    margin-left: -300px;
    /* Adjust as needed for spacing */
}

.barchart{
    margin-left: -100px;
}


/*bhu*/


.page-container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    border: 15px solid #4365CF;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 1;
}

.split-container {
    display: flex;
    align-items: flex-start;
    /* Align items to the top */
    margin-top: -12px;
}

.content1,
.content2 {
    flex: 1;
    display: flex;
    justify-content: center;
    /* Align content horizontally at the center */
}

.content2>div {
    margin-left: auto;
    /* Add margin to the left side of the content */
    margin-right: 20px;
    /* Add margin to the right side of the content */
}


.doctor-canvas-container {
    width: 200px;
    /* Set the desired width */
    height: 340px;
    /* Set the desired height */
    margin-right: 20px;
    /* Add margin to the right side */
}

.disease-canvas-container {
    width: 300px;
    /* Set the desired width */
    height: 300px;
    /* Set the desired height */
    margin-left: 200px;
    /* Add margin to the left side */
}


.canvas-container {
    width: 300px;
    height: 300px;
}

.top-header {
    width: 100%;
}

.center-text {
    text-align: center;
}


/*custom-pop*/
.custom-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-popup {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}

.custom-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.custom-popup-body {
    margin-top: 10px;
}

.custom-popup-body ul {
    padding: 0;
}

.custom-popup-body li {
    list-style-type: none;
    margin-bottom: 5px;
}